fastapi[standard]
sqlmodel
psycopg2-binary

pathlib==1.0.1

# Conexão com o LLM
pandas==2.2.3
python-dotenv==1.1.0
openai==1.76.0
pinecone==6.0.2

# Embedding e processamento de linguagem natural
sentence-transformers==4.0.2
numpy==2.2.4
